*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*inicio*/

.inicio{
    padding: 20px;
}

.sobre{
    padding: 20px;
}

.servicos{
    padding: 20px
}

.depoimentos{
    padding: 20px;
}

.contato{
    padding: 20px;

}.titulo{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5rem;
    margin-top: 10rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo{
    font-size: 16px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif ;
    color: gray;
    margin-left: 5rem;
    margin-top: 1rem;
}

.imagemCabeleleira{
    margin-left: 40rem;
    margin-top: -10rem;
    border-radius: .5rem;
}

.fundoDaImagem{
    background-color: #ccf4e6;
    width: 32rem;
    height: 23rem;
    margin-left: 45rem;
    margin-top: -26rem;
    border-radius: .5rem;
}

.botaoInicio{
    background-color: #69b99d;
    border: none;
    padding: .6rem;
    padding-inline: 2rem;
    border-radius: .3rem;
    color: white;
    margin-left: 5rem;
}

.mudarBotaoDeLugar{
    margin-top: -8rem;
}

/*sobre nós*/


.tituloSobre{
    font-size: 20px;
    font-weight: 600;
    margin-left: 35rem;
    margin-top: 10rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.subtituloSobre{
    font-size: 16px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif ;
    color: gray;
    margin-left: 35rem;
    margin-top: 1rem;
}

.imagemCabeleleira2{
    margin-top: -31rem;
    border-radius: .5rem;
}

.fundoDaImagemSobre{
    background-color: #ccf4e6;
    width: 19rem;
    height: 5rem;
    margin-top: -25rem;
    border-radius: .3rem;
}


.margin{
    margin: 5rem;
    padding-top: 6rem;
}

/*serviços*/

.margin2{
    margin: 5rem;
    padding-top: 20rem;
}

.titulo2{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.definirTexto{
    margin: 2rem;
}
.subtitulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.subtitulo2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
.subtitulo3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
section{
    display: flex;
    justify-content: center;
}
.caixa1{
    background-color: rgb(255, 255, 255);
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    box-shadow:  2px 2px 10px rgb(199, 199, 199);
}

.tituloServicos01{
    display: flex;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.servicosTexto1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1.5rem;
}

.servicosTexto2{
    align-items: center;
    justify-content: center;
    display: flex;
}

.servicosTexto3{
    align-items: center;
    justify-content: center;
    display: flex;
}

.servicosTexto4{
    align-items: center;
    justify-content: center;
    display: flex;
}

.arrumarImagem01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.caixa2{
    background-color: rgb(255, 255, 255);
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    box-shadow:  2px 2px 10px rgb(199, 199, 199);
}
.caixa3{
    background-color: rgb(255, 255, 255);
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    box-shadow:  2px 2px 10px rgb(199, 199, 199);
}

/*depoimentos*/

.tituloDepoimento1{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.tituloDepoimento2{
    display: flex;
    justify-content: center;
    
}

.boxDepoimento{
    background-color: #ffffff;
    height: 15rem;
    width: 30rem;
    box-shadow: 1px 1px 20px rgb(156, 156, 156);
}
.centralizarBox{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;
}

.TextoDepoimeto1{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.TextoDepoimeto2{

    display: flex;
    justify-content: center;
}
.TextoDepoimeto3{

    display: flex;
    justify-content: center;
}
.TextoDepoimeto4{

    display: flex;
    justify-content: center;
}

.ladoDoOutro{
    display: flex;
    justify-content: center;
}
.ajeitarImagem{
    display: flex;
    margin-top: 1rem;
    margin-left: 3rem;
}

.textoPerfil1{
    margin-left: .5rem;
    margin-top: .5rem;
}
.textoPerfil2{
    margin-left: .5rem;
    margin-top: .5rem;
}

/*contato*/

.mudarBotaoDeLugar2{
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.botaoContato{
    background-color: #69b99d;
    border: none;
    padding: .8rem;
    padding-left: 5rem;
    padding-right: 2.5rem;
    border-radius: .3rem;
    color: white;
    margin-left: 5rem;
}

.textoBotaoContato{
    padding: .4rem;
    margin-top: .1rem;
    font-size: 16px;
}

.imagemBotao{
    margin-left: -3rem;
    margin-top: -2rem;
    display: flex;
}

.tituloContato{
    margin-left: 7.5rem;
    margin-top: 10rem;
}
.subtituloContato{
    margin-left: 7.5rem;
    margin-top: 1rem;
    color: gray;
}

.contatos{
    margin-left: 45rem;
    margin-top: -11rem;
}

.numero{
    margin-left: 2rem;
    margin-top: 1rem;
}

.email{
    margin-left: 2rem;
    
}

.localizacao{
    margin-left: 2rem;
    
}

.Espacamento{
    margin-top: 1rem;
}

.arrumarImgTelefone{
    margin-top: -1.3rem;
}

/*footer*/

footer{
    background-color: #69b99d;
    width: 100%;
    height: 20rem;
    margin-top: 20rem;
}

.logoBeaut{
    margin-left: 7rem;
    padding-top: 4rem;
}

.direitos{
    margin-left: 7.5rem;
    margin-top: 3rem;
    color: #fff;
}
.espaco{
    margin-top: 1rem;
}
