
.inicio{
    padding: 20px;
}

.sobre{
    padding: 20px;
}

.servicos{
    padding: 20px
}

.depoimentos{
    padding: 20px;
}

.contato{
    padding: 20px;

}.titulo{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5rem;
    margin-top: 10rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo{
    font-size: 16px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif ;
    color: gray;
    margin-left: 5rem;
    margin-top: 1rem;
}

.imagemCabeleleira{
    margin-left: 40rem;
    margin-top: -10rem;
    border-radius: .5rem;
}

.fundoDaImagem{
    background-color: #ccf4e6;
    width: 32rem;
    height: 23rem;
    margin-left: 45rem;
    margin-top: -26rem;
    border-radius: .5rem;
}

.botao{
    background-color: #69b99d;
    border: none;
    padding: .6rem;
    padding-inline: 2rem;
    border-radius: .3rem;
    color: white;
    margin-left: 5rem;
}

.mudarBotaoDeLugar{
    margin-top: -8rem;
}